/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: Apercu, Arial, FreeSerif, serif !default;

// colors
$body-bg: #252a35 !default;
$body-color: #d5c4a1 !default;
$input-panel-bg: rgba(233, 236, 239, 0.2) !default;
// code blocks
$code-block-bg: transparent !default;
//$link-color: #51483d !default;
//$selection-bg: #26351c !default;

/*-- scss:rules --*/

//.reveal a {
  //line-height: 1.3em;
//}
